<div class="page-layout blank p-24" fusePerfectScrollbar>
    <div style="display: felx;flex-direction: column;margin-bottom: 16px">
        <h2>商品类型管理</h2>
        <div>
            <button mat-raised-button color="primary" (click)="openAddRootCategoryDialog()">增加一级类目</button>
            <mat-form-field style="margin-left: 16px;">
                <mat-select placeholder="一级目录" [(ngModel)]="rootCategorySelected" name="category" (selectionChange)="getSecondaryCategories(rootCategorySelected)">
                    <mat-option *ngFor="let category of rootCategories" [value]="category._id">
                        {{category.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <button mat-raised-button color="primary" (click)="openAddCategoryDialog(rootCategorySelected)">增加二级类目</button>
        </div>
        <table mat-table [dataSource]="childCategories" class="mat-elevation-z8" style="width: 100%;margin-top: 16px;">
            <input hidden type="file" accept="image/*" #uploader (change)="prepareTokenToUploadImage($event)" />
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> 名字 </th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="!element.edit" (click)="element.edit = true">
                        {{element.name}}
                    </div>
                    <mat-form-field *ngIf="element.edit">
                        <input matInput [(ngModel)]="element.name" [ngModelOptions]="{standalone: true}" (ngModelChange)="categoryNameUpdate(element)">
                    </mat-form-field>
                </td>
            </ng-container>
            <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef> 图标 </th>
                <td mat-cell *matCellDef="let element">
                    <div (click)="tdClick(element)" style="cursor: pointer;">
                        <div *ngIf="!element.image" class="upload-icon-button">
                            上传图标
                        </div>
                        <img *ngIf="element.image" class="category-icon" [src]="IMAGE_CDN_URL + element.image + '?' + CATEGORY_ICON_RESIZE_SUFFIX"
                        />
                    </div>
                </td>
            </ng-container>
            <!-- <ng-container matColumnDef="tools">
                <th mat-header-cell *matHeaderCellDef> 操作 </th>
                <td mat-cell *matCellDef="let element">
                    <div style="display: flex;flex-direction: row">
                        <div style="display: flex;flex-direction: row;align-items: center;cursor: pointer; color: #2d323e; margin-right: 8px" (click)="deleteCategory(element)">
                            <mat-icon>delete</mat-icon>
                        </div>
                        <div style="display: flex;flex-direction: row;align-items: center;cursor: pointer; color: #2d323e; margin-right: 8px" (click)="editCategory(element)">
                            <mat-icon>edit</mat-icon>
                        </div>
                    </div>
                </td>
            </ng-container> -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <!-- <div>{{rootCategories | json}}</div> -->

</div>