.upload-icon-button {
    width: 48px;
    height: 48px;
    border: 1px solid #2196F3;
    margin: 8px;
    padding: 8px 12px;
    font-size: 11px;
    color: #2196F3;
}
.category-icon {
    margin: 8px;
}