<input hidden type="file" accept="image/*" #uploader (change)="prepareTokenToUploadImage($event)" />
<div [ngClass]="{'editor-fullscreen': editorFullscreen}">
    <button mat-raised-button color="primary" (click)="editorFullscreen = !editorFullscreen" style="margin-bottom: 8px">{{editorFullscreen ? '退出全屏' : '全屏编辑'}}</button>
    <quill-editor *ngIf="!isInForm" (onEditorCreated)="getEditorInstance($event)" [(ngModel)]="value"></quill-editor>
    <quill-editor *ngIf="isInForm" (onEditorCreated)="getEditorInstance($event)" (onContentChanged)="contentChanged($event)" #editorRef></quill-editor>
</div>