<div class="page-layout blank p-24" fusePerfectScrollbar>
    <div>
        <div *ngIf="loading === true" style="display: flex;flex-direction: column;width: 300px;margin: 0 auto;">
            加载中...
        </div>
        <div *ngIf="haveCreatedStore === false && loading === false" style="display: flex;flex-direction: column;width: 300px;margin: 0 auto;">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="店铺代码" [(ngModel)]="storeTagtrackCode">
            </mat-form-field>
            <button mat-raised-button color="primary" style="margin-bottom: 8px" (click)="getStoreInfoByTagtrackCode(storeTagtrackCode)">查询</button>
            <button mat-raised-button color="primary" (click)="bindStore(storeTagtrackCode)">提交</button>
            <mat-card style="margin-top: 16px" *ngIf="storeData">
                <div *ngFor="let keyValuePair of storeData | mapToIterable">
                    <p class="data-key">{{keyValuePair.key}}</p>
                    <p class="data-value">{{keyValuePair.val}}</p>
                </div>
            </mat-card>
        </div>
        <div *ngIf="haveCreatedStore === true && loading === false" style="display: flex;flex-direction: column;max-width: 800px;margin: 0 auto;">
            <mat-card style="margin-top: 16px; padding: 0" *ngIf="storeData">
                <mat-grid-list cols="3" rowHeight="100px" style="background: #ddd">
                    <mat-grid-tile>
                        <div>
                            <p class="data-key">店铺</p>
                            <p class="data-value">{{storeData.name}}</p>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div>
                            <p class="data-key">追踪码</p>
                            <p class="data-value">{{storeData.tagtrack_code}}</p>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div>
                            <p class="data-key">账户余额</p>
                            <p class="data-value">{{storeAccountData.balance || 0}}</p>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div>
                            <p class="data-key">订单数量</p>
                            <p class="data-value">{{storeAccountData.balance || 0}}</p>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div>
                            <p class="data-key">累积返佣</p>
                            <p class="data-value">{{storeAccountData.balance || 0}}</p>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>

            </mat-card>
        </div>
    </div>

</div>