<div [formGroup]="form" class="q-form">
    <!-- <label [attr.for]="question.key">{{question.label}}</label> -->

    <div [ngSwitch]="question.controlType">
        <mat-form-field *ngSwitchCase="'textbox'" appearance="outline">
            <mat-label>{{question.label}}</mat-label>
            <textarea *ngIf="question.textarea === true" matInput [placeholder]="question.label" [formControlName]="question.key" [id]="question.key"></textarea>
            <input *ngIf="question.textarea === false" matInput [placeholder]="question.label" [formControlName]="question.key" [id]="question.key"
                [type]="question.type">
            <mat-error *ngIf="!isValid">
                填写{{question.label}}
            </mat-error>
        </mat-form-field>
        <div *ngSwitchCase="'dropdown'">
                <dynamic-question-dropdown-input [form]="form" [question]="question" ></dynamic-question-dropdown-input>

        </div>
        <div *ngSwitchCase="'image_upload'" class="image_upload">
            <h2 style="width: 100%">{{question.label}}</h2>
            <input hidden type="file" accept="image/*" #uploader (change)="prepareTokenToUploadImage($event)" />
            <ul class="app-image-list">
                <li *ngFor="let image of form.get(question.key).value; let i = index">
                    <div class="rc-upload">
                        <img [src]="IMAGE_CDN_URL + image + '?' + GOOD_IMAGE_SMALL_SQUARE_SUFFIX" />
                        <a class="close-modal small" (click)="removeImage(i)">×</a>
                    </div>
                </li>
                <li>
                    <div class="rc-upload" (click)="uploader.click()">
                        <div>
                            <a class="add-goods" href="javascript:;">+ 添加图片</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div *ngSwitchCase="'array_set'" class="array_set">
            <h2 style="width: 100%">{{question.label}}</h2>
            <div [formArrayName]="question.key" *ngFor="let item of form.get(question.key).controls; let i = index;">
                <div [formGroupName]="i">
                    <mat-form-field *ngFor="let q of question.array" appearance="outline" style="margin-right: 8px">
                        <mat-label>{{q.label}}</mat-label>
                        <input matInput [placeholder]="q.label" [formControlName]="q.key" [id]="q.key" [type]="q.type">
                        <mat-error *ngIf="!isValid">
                            填写{{q.label}}
                        </mat-error>
                    </mat-form-field>
                    <div style="display: inline-block;cursor: pointer;">
                        <mat-icon (click)="removeFormArray(i)" style="margin-bottom: 20px;">close</mat-icon>
                    </div>
                </div>
            </div>

            <!-- <div *ngFor="let q of question.array" [ngClass]="{'form-row': true, 'form-row-100': question.controlType == 'image_upload'}">
                <dynamic-question [question]="q" [form]="subform"></dynamic-question>
            </div> -->
            <div style="width: 100%;margin-bottom: 16px;">
                <button mat-raised-button color="primary" (click)="addItem()">加一组</button>
            </div>
        </div>

    </div>
</div>


<!-- 
      Copyright 2017-2018 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license
      -->