<div class="page-layout blank p-24" fusePerfectScrollbar>

    <div style="display: felx;flex-direction: column;margin-bottom: 16px">
        <h2>一件代发管理</h2>
        <button mat-raised-button color="primary" (click)="openDialog()">添加一件代发商品</button>
    </div>
    <mat-form-field style="width: 100%">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="过滤搜索">
    </mat-form-field>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dropshippings" style="width: 100%" matSort>
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </td>
            </ng-container>
            <ng-container matColumnDef="good_images">
                <th mat-header-cell *matHeaderCellDef> 图片 </th>
                <td mat-cell *matCellDef="let element">
                    <img *ngIf="element.good_images[0]" class="item_image" [src]="IMAGE_CDN_URL + element.good_images[0] + '?' + GOOD_IMAGE_SMALL_SQUARE_SUFFIX"
                    />
                </td>
            </ng-container>
            <ng-container matColumnDef="good_name">
                <th mat-header-cell *matHeaderCellDef> 商品名 </th>
                <td mat-cell *matCellDef="let element"> {{element.good_name}} </td>
            </ng-container>
            <ng-container matColumnDef="brand_name">
                <th mat-header-cell *matHeaderCellDef> 品牌 </th>
                <td mat-cell *matCellDef="let element"> {{element.brand_name}} </td>
            </ng-container>
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> 价格 </th>
                <td mat-cell *matCellDef="let element"> {{element.price}} </td>
            </ng-container>
            <ng-container matColumnDef="company_name">
                <th mat-header-cell *matHeaderCellDef> 公司 </th>
                <td mat-cell *matCellDef="let element"> {{element.company_name}} </td>
            </ng-container>
            <ng-container matColumnDef="contact">
                <th mat-header-cell *matHeaderCellDef> 联系方式 </th>
                <td mat-cell *matCellDef="let element"> {{element.contact}} </td>
            </ng-container>
            <ng-container matColumnDef="link">
                <th mat-header-cell *matHeaderCellDef> 链接 </th>
                <td mat-cell *matCellDef="let element">
                    <a [href]="element.link" target="_blank">点击前往</a>
                </td>
            </ng-container>
            <ng-container matColumnDef="tools">
                <th mat-header-cell *matHeaderCellDef> 操作 </th>
                <td mat-cell *matCellDef="let element; let row">
                    <div style="display: flex;flex-direction: row">
                        <div style="display: flex;flex-direction: row;align-items: center;cursor: pointer;" (click)="deleteItem(element)">
                            <mat-icon>delete</mat-icon>
                        </div>
                        <div style="display: flex;flex-direction: row;align-items: center;cursor: pointer;" (click)="openEditDialog(element)">
                            <mat-icon>more_horiz</mat-icon>
                        </div>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
    </div>

</div>